@model NodeManager.Web.Models.CategorySection

@foreach (var category in Model.Menu)
{
    <button onclick="window.location.href='/Node/List/@category.Key.Name'">@category.Key.Name</button>

    if (category.Key.Id == Model.SelectedSection)
    {
        foreach (var i in category.Value)
        {
            <button onclick="window.location.href='/Node/List/@category.Key.Name/@i.Name'">@i.Name</button>
        }
    }
    
}
