@model NodeManager.Web.Models.CategorySection

@{
    ViewData["Title"] = "Menu";
}

<div class="nav_filters">
    <div class="scroll">
        <div class="but_home">
            <button class="b_homePage" onclick="window.location.href='/Node/List/1'" title="На главную страницу"><span class="fa fa-home"></span></button>
        </div>
        <ul class="accordion-menu">
            @foreach (var category in Model.Menu)
            {
            <li>
                <div class="dropdownlink">
                    <a class="but_category" href="/Node/List/1/@category.Key.Name">@category.Key.Name<span class="fa-solid fa-caret-down fa-xs"></span></a>
                    @*<a class="but_category" href="/Node/List/1/@Model.SelectedNodeSearch.Section">@category.Key.Name <span class="fa-solid fa-caret-down fa-xs"></span></a>*@
                </div>
        
                <ul class="submenu">
                    @if (category.Key.Id == Model.SelectedSection)
                    {
                        @foreach (var subcategory in category.Value)
                        {
                            <li>
                                <a class="but_subcategory" href="/Node/List/1/@category.Key.Name/@subcategory.Name">@subcategory.Name</a>
                                @*<a class="but_subcategory" href="/Node/List/1/@Model.SelectedNodeSearch.Category">@subcategory.Name</a>*@
                            </li>
                        }
                    }
                </ul>
            </li>
            }
        </ul>
    </div>
    <div class="plug">
        <p>Заглушка</p>
    </div>
</div>