@model System.Collections.Generic.IEnumerable<NodeManager.Web.Models.NodeInfo>

<div class="nav_filters">
    @foreach (var nodeInf in Model)
    {
        <div class="but_cat">
            <button>nodeInf.Node.Name</button>
        </div>
    }
</div>