@model NodeManager.Web.Models.CategorySection

<div class="nav_filters">
    @foreach (var category in Model.Menu)
    {
        <div class="but_category">
            <button class="">@category.Key</button>
        </div>
    }
</div>