html {
    height: 100%;
}

body {
    font-size: 20px;
    font-style: normal;
    position: relative;
    min-height: 100%;
    height: 100%;
}

.main_container {
    display: grid;
}

/* Header */

.main_header {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-columns: auto auto minmax(30px, 90px);
    ;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Content */

.main_content {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 100%;
}

/* Header buttons */

h5 {
    font-size: 16px;
    white-space: normal;
    text-align: center;
    font-weight: bold;
    word-break: break-all;
    grid-row: 1;
    grid-column: 1 / 4;
    width: 100%;
}


/* Кнопка поиска по тегу */

.search_tag {
    grid-row: 2;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: end;
}

.b_search_tag {
    background-color: white;
    color: black;
    font-size: 20px;
    border: 1px solid #DAD9D9;
    cursor: pointer;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    line-height: normal;
    margin: auto;
}

/*input[type="search"]::-ms-clear {*/ /* нестандартный псевдоэлемент IE */
    /*display: none;
}

input[type="search"]::-webkit-search-cancel-button {*/ /* нестандартный псевдоэлемент WebKit/Blink, но Esc по-прежнему будет удалять раннее введённый текст */
    /*display: none;
}

input[type="search"] {
    background-color: white;
    color: black;
    font-size: 20px;
    border: 1px solid #DAD9D9;
    cursor: pointer;
    align-items: start;
    text-align: left;
    border-radius: 10px;
    padding: 5px 10px;
    line-height: normal;
    box-sizing: border-box;
}*/


input {
  height: 20px;
}

span.fa {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: -26px;
  position: relative;
  z-index: 1;
  float: left;
}

span.fa + input {
  padding-left: 26px;
}



/* Профиль, кнопки войти, зарегистрироваться и выйти */

.user {
    grid-row: 2;
    grid-column: 3;
    justify-self: end;
    position: relative;
    display: inline-block;
}

.but_user {
    background-color: white;
    color: black;
    border: 1px solid #DAD9D9;
    cursor: pointer;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    padding: 5px 15px;
    margin: auto;
    margin-right: 25px;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.user_info {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .user_info p {
        text-align: center;
        margin: auto;
    }

    /* Ссылки внутри выпадающего списка */
    .user_info a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 16px;
    }

        /* Изменить цвет выпадающих ссылок при наведении */
        .user_info a:hover {
            background-color: #F0F0F0;
        }

/* Показывать выпадающее меню при наведении */
.user:hover .user_info {
    display: block;
}



/* Navigation menu */

.nav_menu {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.plug {
    display: none;
}

.scroll {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 11%;
}

/* Container content nodes*/

.content_nodes {
    height: 100%;
}

.node {
    display: inline-block;
    width: 360px;
    height: 350px;
    margin: 5% 0 0 5%;
    border: 1px solid black;
    text-align: center;
}

.img-responsive {
    width: 100%;
    height: 275px;
}

.node_name {
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.p:hover::after {
    content: attr(title);
}

/*@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
*/
p, span {
    font-family: fontawesome !important;
}

.btn {
    position: relative;
    transform: translate(395%, -10%);
}


/* Иерархическое меню, файл NavBar.cshtml ----------------------------------------------------------------- */

ul {
    list-style-type: none;
}

.accordion-menu {
    list-style-type: none;
    width: 90%;
    align-self: center;
    justify-self: left;
    margin: 5% 5% 5% 10%;
    box-sizing: border-box;
    background-color: white;
    color: black;
    width: 90%;
    border: 1px solid #DAD9D9;
    cursor: pointer;
    text-align: left;
    border-radius: 10px;
    padding: 5px 15px;
}

.but_category {
    text-decoration: none;
    list-style-type: none;
    width: 90%;
    color: black;
}

.but_subcategory {
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    color: black;
}

.accordion-menu li.open .dropdownlink {
}

    .accordion-menu li.open .dropdownlink .fa-caret-down {
        transform: rotate(180deg);
    }

.accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 5% 5% 0 10%;
    color: black;
    position: relative;
    transition: all 0.4s ease-out;
}

    .dropdownlink span {
        position: absolute;
        top: 35%;
        left: 0;
    }

    .dropdownlink .fa-caret-down {
        right: auto;
    }

.submenu {
    display: block;
    padding-left: 0;
}

    .submenu li {
        position: static;
        left: 0;
    }

    .submenu a {
        display: block;
        color: black;
        padding: 0;
        transition: all 0.4s ease-out;
    }

        .submenu a:hover {
        }


/* Страница узлов, файл FamSymbol.cshtml ------------------------------------------------------ */

.containerNode {
    display: grid;
}

/* Header */

.headerNode {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-columns: 20% 80%;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* Content */

.contentNode {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* Header button */

.title {
    white-space: normal;
    text-align: center;
    font-weight: bold;
    word-break: break-all;
    grid-row: 1;
    grid-column: 1 / 3;
    width: 100%;
}

.but_group {
    grid-row: 2;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start;
    margin-left: 10%;
}

.but_close {
    grid-row: 2;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: end;
    margin-right: 3%;
}

.b_download, .b_download1, .b_edit, .b_delete, .b_close {
    background-color: white;
    color: black;
    border: 1px solid #DAD9D9;
    cursor: pointer;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    line-height: normal;
    margin: auto;
    width: 41px;
}


/* Параметры узлов, файл FamSymbol.cshtml  */

.param_section {
    margin: 5% 5% 5% 10%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10%;
}

.parameters {
    width: 100%;
    align-self: center;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border-radius: 10px;
    word-break: inherit;
}

table, th, td {
    border: 1px solid #DAD9D9;
    border-radius: 10px;
    font-size: 18px;
}

th {
    text-align: center;
}

td {
    width: 50%;
}

/* Картинка узла в файле FamSymbol.cshtml  */

.node_picture {
    text-align: center;
}



/* Страница авторизации Login.cshtml и регистрации Register.cshtml ------------------------------------------------------------ */

.page_register, .page_login {
    /* background: yellow;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.registration, .authorization {
    margin: auto;
}

    .registration h2, .authorization h2 {
        text-align: center;
    }

.formRegistration, .formAuthorization {
    margin: auto;
}

.fieldForm, .form-group {
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 50% 50%;
    align-items: center;
}

    .fieldForm label, .form-group label {
        grid-column: 1 / 2;
        justify-self: end;
        margin-right: 5px;
    }

    .fieldForm input, .form-group input {
        grid-column: 2 / 3;
    }

.registration input, .authorization input {
    border-radius: 10px;
    border: 1px solid #DAD9D9;
}

    .registration input:focus, .authorization input:focus {
        border: 1px solid black;
    }

.but_reg, .but_login {
    margin-left: auto;
    margin-right: auto;
}

.button_register, .button_login {
    margin: 10px auto;
    display: block;
}
