html {
    height: 100%;
}

body {
    font-size: 20px;
    font-style: normal;
    position: relative;
    min-height: 100%;
    height: 100%;
}

.main_container {
    display: grid;
}

/* Header */

.main_header {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-columns: 20% auto minmax(30px, 90px) 45px;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Content */

.main_content {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 100%;
}

/* Header buttons */

h5 {
    font-size: 16px;
    white-space: normal;
    text-align: center;
    font-weight: bold;
    word-break: break-all;
    grid-row: 1;
    grid-column: 1 / 5;
    width: 100%;
}

.button_group_left {
    grid-row: 2;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start;
    margin-left: 10%;
    display: inline-flex;
}

/*.button_upload {
    grid-row: 2;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: start;
}*/

.b_back, .b_download, .formLeft, .b_search_name, .b_search_tag, .but_user {
    background-color: white;
    color: black;
    font-size: 20px;
    max-height: 43px;
    border: 1px solid #DAD9D9;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    margin: auto;
}

.b_back {
    height: 41px;
}

.b_download {
    margin-left: 5%;
}

/* Поле загрузки файлов/проектов */

.formLeft {
    margin-left: 10px;
    padding: 0;
    width: 250px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-file__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px;
}

.upload-file__label {
    width: 210px;
    max-height: 43px;
    border-radius: 6px;
    cursor: pointer;
    padding-left: 7px;
    line-height: 1;
    align-self: center;
    text-align: center;
    padding-top: 3px;
}

.upload-file__label .upload-file__text {
    max-height: 43px;
    line-height: 0;
}

.subFile {
    border: none;
    background-color: transparent;
    margin: auto;
    width: 31px;
    justify-content: flex-end;
}

input[type=file] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 210px;
}


/* Поиск по названию */

.search_name {
    grid-row: 2;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: end;
    margin: 0;
    height: 43px;
    vertical-align: middle !important;
}

.search_by_name {
    min-height: 34px;
    max-height: 43px;
    border: 1px solid #DAD9D9;
    border-radius: 10px;
    /*margin-top: 0;*/
    margin: auto;
    /*padding-top: 0;*/
    padding: 3px 10px;
    font-size: 18px;
    max-width: 250px;
    box-sizing: content-box;
    background-image: none;
    background-color: none;
    font-size: 18px;
}

.b_search_name {

}


/* Кнопка поиска по тегу */

.filters_panel {
    grid-row: 2;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: end;
}

.b_search_tag {
    align-items: center;
    text-align: center;
    line-height: normal;
    margin: auto;
    vertical-align: middle;
}

/* Настройки для поиска по тегу */

.chosen-container-multi,
.chosen-choices {
    min-height: 34px !important;
    border: none !important;
    border: 1px solid #DAD9D9 !important;
    border-radius: 10px !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    font-size: 18px !important;
    box-sizing: content-box;
    background-image: none !important;
    background-color: none !important;
}

input.chosen-search-input.default {
    width: 100% !important;
    vertical-align: middle !important;
    margin: auto !important;
}

.chosen-container-multi .chosen-choices {
    background-image: none !important;
    background-color: none !important;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #E8E5E5 !important;
    background-image: none !important;
    color: black !important;
}

.chosen-container-multi .chosen-choices {
    border: none !important;
}


/* Фильтр параметров ------------------------------------------------------------------------ */

/*стилизуем менюшку*/
.hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 350px;
    background-color: #B7B7B7; /* цвет выдвижной панели */
    height: 100%;
    top: 0;
    right: -350px;
    transition: right .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

/*.hidden-menu li a {text-decoration: none; color:black;}
.hidden-menu li a:hover {color:blue;}*/

/*.hidden-menu li p .first_point
{
    margin-top: 50px;
}*/

.hidden-menu li p 
{
    text-decoration: none; 
    color:black;
    margin-top: 10px;
}

/*скрываем инпут чекбокс*/
.hidden-menu-ticker {
  display: none;
}
/*общие стили значка-гамбургера, самого лэйбла*/
.btn-menu {
  color: #fff;
  background-color: #fff;
  padding: 2px;
  position: fixed;
  top: 37px;
  right: 25px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 20px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
/*общие стили полосок*/
.btn-menu span {
  display: block;
  height: 2px;
  background-color: #2b343c;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
/*прибиваем к верху лэйбла первую полоску*/
.btn-menu span.first {
  margin-top: 0;
}
/*при нажатии на бургер двигаем его и делаем другой фон бургеру*/
.hidden-menu-ticker:checked ~ .btn-menu {
  top: 15px;
  right: 10px;
  background-color: #B7B7B7;
}
/*и дальше стили меняющие бургер, двигающие менюшку по событию - нажатие на значек бургера*/
.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 7px;
  background-color: #fff;
}

/*.hidden-menu-ticker:checked ~ .btn-menu span.first:hover {
    background-color: black;
}*/

.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -7px;
  background-color: #fff;
}

/*.hidden-menu-ticker:checked ~ .btn-menu span.third:hover {
    background-color: black;
}*/

/*.hidden-menu-ticker:checked ~ .btn-menu span.first, .btn-menu span.second, .btn-menu span.third :hover {
    background-color: black;
}*/

/* ------------------------------------------------------------------ */

/*---------------------------------------------------------------------------------------------------------------------*/
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);


/*---------------------------------------------------------------------------------------------------------------------*/


/* Профиль, кнопки войти, зарегистрироваться и выйти */

.user {
    grid-row: 2;
    grid-column: 3 / 4;
    justify-self: end;
    position: relative;
    display: inline-block;
    height: 43px;
}

.but_user {
    align-items: center;
    text-align: center;
    border-radius: 50%;
    padding: 5px 15px;
    margin: auto;
    margin-right: 25px;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.user_info {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 200;
}

.user_info p {
    text-align: left;
    padding: 12px 16px;
    margin: auto;
}

/* Ссылки внутри выпадающего списка */
.user_info a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

/* Изменить цвет выпадающих ссылок при наведении */
.user_info a:hover {
    background-color: #F0F0F0;
}

/* Показывать выпадающее меню при наведении */
.user:hover .user_info {
    display: block;
}


/* Navigation menu */

.nav_menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.but_downld {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 8.7%;
    margin-left: 5%;
    height: 43px;
}

.nav_filters {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 13%;
    z-index: 300;
}

.plug {
    display: none;
}

/* Container content nodes*/

.content_nodes {
    height: 100%;
}

.node {
    display: inline-block;
    width: 360px;
    height: 350px;
    margin: 5% 0 0 5%;
    border: 1px solid black;
    text-align: center;
}

.img-responsive {
    width: 100%;
    height: 275px;
}

.node_name {
    width: 100%;
    border-top: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.p:hover::after {
    content: attr(title);
}

/*@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
*/
p, span {
    font-family: fontawesome !important;
}

.btn {
    position: relative;
    transform: translate(395%, -10%);
}

/* Нумерация страниц - Pagination */




/* Иерархическое меню, файл NavBar.cshtml ----------------------------------------------------------------- */

ul {
    list-style-type: none;
}

.accordion-menu {
    list-style-type: none;
    width: 90%;
    align-self: center;
    justify-self: left;
    margin: 5% 5% 5% 10%;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border: 1px solid #DAD9D9;
    cursor: pointer;
    text-align: left;
    border-radius: 10px;
    padding: 5px 15px;
}

.but_category {
    text-decoration: none;
    list-style-type: none;
    width: 90%;
    color: black;
}

.but_subcategory {
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    color: black;
}

.accordion-menu li.open .dropdownlink .fa-caret-down {
    transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}

.dropdownlink {
    cursor: pointer;
    display: block;
    padding: 5% 5% 0 10%;
    color: black;
    position: relative;
    transition: all 0.4s ease-out;
}

.dropdownlink span {
    position: absolute;
    top: 35%;
    left: 0;
}

.dropdownlink .fa-caret-down {
    right: auto;
}

.submenu {
    display: block;
    padding-left: 0;
}

.submenu li {
    position: static;
    left: 0;
}

.submenu a {
    display: block;
    color: black;
    padding-left: 20%;
    transition: all 0.4s ease-out;
}


/* Страница узлов, файл FamSymbol.cshtml ------------------------------------------------------ */

.containerNode {
    display: grid;
}

/* Header */

.headerNode {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-columns: 50% 50%;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* Content */

.contentNode {
    display: grid;
    grid-template-columns: 20% 80%;
}

/* Header button */

.but_group {
    grid-row: 2;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start;
    margin-left: 4%;
}

/*.but_close {
    grid-row: 2;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: end;
    margin-right: 3%;
}*/

/*.button_back {
    grid-row: 2;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: start;
    margin-left: 10%;
}*/

.b_backFS, .b_GoToProject, .b_edit, .b_delete {
    background-color: white;
    color: black;
    font-size: 20px;
    border: 1px solid #DAD9D9;
    cursor: pointer;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    /*line-height: normal;*/
    margin: auto;
}

.b_edit, .b_delete {
    width: 41px;
}


/* Параметры узлов, файл FamSymbol.cshtml  */
.param_section {
    margin: 5% 5% 5% 10%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 11%;
}

.parameters {
    width: 100%;
    align-self: center;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border-radius: 10px;
    word-break: inherit;
}

.scroll {
    position: -webkit-sticky;
    position: sticky;
    top: 11%;
    z-index: 300;
}

.scroll-table table {
    width: 100%;
    table-layout: fixed;
    border: none;
}

.scroll-table-body {
    max-height: 750px;
    overflow-x: auto;
    margin-top: 0px;
    /*margin-bottom: 20px;*/
    border-bottom: 1px solid #eee;
}

.scroll-table {
    position: -webkit-sticky;
    position: sticky;
    top: 11%;
    z-index: 300;
    top: 15%;
    z-index: 100;
}

table, th, td {
    border: 1px solid #DAD9D9;
    border-radius: 10px;
    font-size: 18px;
}

th {
    text-align: center;
}

td {
    width: 50%;
}

/* Стили для скролла */
::-webkit-scrollbar {
    /*width: 6px;*/
    display: none;
}

/*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}*/

/* Картинка узла в файле FamSymbol.cshtml  */

.node_picture {
    text-align: center;
}



/* Страница авторизации Login.cshtml и регистрации Register.cshtml ------------------------------------------------------------ */

.page_register, .page_login {
    /*background: yellow;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.registration, .authorization {
    margin: auto;
}

.registration h2, .authorization h2 {
    text-align: center;
}

.formRegistration, .formAuthorization {
    margin: auto;
}

.fieldForm, .form-group {
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 50% 50%;
    /*align-items: center;*/
    /*justify-self: stretch;*/
}

.fieldForm label, .form-group label {
    grid-column: 1 / 2;
    justify-self: end;
    align-content: start;
    margin-right: 5px;
}

.tboxForm {
    grid-column: 2 / 3;
    justify-self: start;
}

.registration input, .authorization input {
    border-radius: 10px;
    border: 1px solid #DAD9D9;
}

.registration input:focus, .authorization input:focus {
    border: 1px solid black;
}

.but_reg, .but_login {
    margin-left: auto;
    margin-right: auto;
}

.button_register, .button_login {
    margin: 10px auto;
    display: block;
}