<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Менеджер узлов</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main class="main_container">
        <header class="main_header">
            <h5>Узлы предоставлены для обязательной адаптации к проекту</h5>

            @*<div class="button_search_tag">
                <button class="b_search_tag">Поиск по тегу</button>
            </div>*@
            <form action="" method="get">
                <input name="s" placeholder="Поиск по тегу" type="search">
                <button type="submit">Поиск</button>
            </form>
            <span class="fa-solid fa-user"></span>
            
            <div class="dropdown">
            <button class="dropbtn"><span class="fa-solid fa-user"></span>Dropdown</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            
            @*<div class="wrapper">
                <div class="user"></div>
            </div> *@   
        </header>
        <div class="main_content">
            <div class="nav_menu">
                @await Component.InvokeAsync("Menu", Model.categorySection)
            </div>
            <div class="content_nodes">
                @RenderBody()
            </div>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>