@model NodeManager.Web.Models.FamSymbolViewModel

<div class="parameters">
    @foreach (var parameter in Model._revitParameters)
    {
        <div class="node_parameters">
            <div class="parameter_name">@parameter.Name</div>
            <div class="parameter_value">@parameter.Value</div>
        </div>
    }
</div>