@model NodeManager.Web.Models.FamSymbolViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Параметры узла</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main class="containerNode">
        <div class="headerNode">
           <h5>@Model._familySymbol.Name</h5>
           <div class="but_group">
               <button class="b_back" onclick="window.history.back()" title="Назад"><span class="fa-solid fa-arrow-left"></span></button>
               <button class="b_download" onclick="/Node/ProjectSection/@Model._familySymbol.FileId" title="Перейти к проекту">Перейти к проекту</button>
                @if (Model.userName != null)
                {
                    <button class="b_edit" onclick="" title="Редактировать"><span class="fa-solid fa-pencil"></span></button>
                    <button class="b_delete" onclick="/Node/Delete/@Model._familySymbol.Id" title="Удалить"><span class="fa-solid fa-trash"></span></button>
                }
           </div>
           @*<div class="but_close">
               <button class="b_close" onclick="window.history.back()" title="Закрыть"><span class="fas fa-times"></span></button>
           </div>*@
        </div>
        <div class="contentNode">
            <div class=param_section>
                <div class="scroll">
                    <table class="parameters">
                    <thead class="paramHead">
                        <tr>
                            <th class="headTable">Название</th>
                            <th class="headTable">Значение</th>
                        </tr>
                    </thead>
                    <tbody class="paramBody">
                        @foreach (var parameter in Model._revitParameters)
                        {
                            <tr>
                                <td class="parameter_name">@parameter.Name</td>
                                <td class="parameter_value">@parameter.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
                <div class="plug">
                    <p>Заглушка</p>
                </div>
            </div>
            <div class="node_picture">
                <img class="nodePic" src="data:image/jpg;base64,@FamSymbolViewModel.ImageByteToBase64ImageTag(Model._familySymbol.Image)"/>
            </div>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
