
@{
    Layout = null;
}


<h1>Upload Large File</h1>

<h2>@ViewData["message"]</h2>

<form asp-controller="Node" 
      asp-action="DBLargeFile" 
      method="post" 
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <br /><br />
    <button type="submit">Upload File</button>
</form>