@model NodeManager.Web.Models.NodesViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <title>title</title>
</head>
<body>

<main class="grid_container">
<div class="nav_filters">
            <div class="button_wall">
                <button class=" b_wall" onclick="window.location.href='Node/List'";>Стена/</button>
            </div>

            <div class="button_roof">
                <button class="b_roof">Кровля</button>
            </div>

            <div class="button_window">
                <button class="b_window">Окно</button>
            </div>

            <div class="button_bridge">
                <button class="b_bridge">Перемычка</button>
            </div>

            <div class="button_overlap">
                <button class="b_overlap">Перекрытие</button>
            </div>

            <div class="button_floor">
                <button class="b_floor">Пол</button>
            </div>

            <div class="button_plinth">
                <button class="b_plinth">Цоколь</button>
            </div>
        </div>

@foreach (var i  in Model.Symbols)
{
    <div class="node">
        <img src="~/nodes/tmp - Чертежный вид - Кровля_Водосточная воронка.jpg">
        <button class="btn" onclick="window.location.href='#node1';">
            <p class="fas fa-search-plus"></p></button>
        <div class="node_name">
            <p>@i.Name</p>
        </div>

        <div class="lightbox" id="node1">
            <figure>
                <button class="close" onclick="window.location.href='#';">
                    <p class="fas fa-times"></p></button>
                <button class="dwn">
                    <p class="far fa-save"></p></button>
                <figcaption>
                    <p>@i.Name</p>
                    <img src="~/nodes/tmp - Чертежный вид - Кровля_Водосточная воронка.jpg">
                </figcaption>
            </figure>
        </div>
    </div>

}

    </main>

</body>
</html>